<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span2">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    
    <table class="table table-condensed">
    	<thead>
    		<tr>
    			<th>Network</th>
    			<th class="green">#Fidbacks</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    		<td><a href="http://myworld.ebay.fr/manasamanasa"> <img src="/images/ebay.jpg" width="50" height="50">
  </a></td>
    		<td>2</td>
    		</tr>
    		<tr>
    		<td><a href="http://www.airbnb.fr/users/show/1853989"> <img src="/images/airbnb.png" width="50" height="50">
  </a></td>
    		<td>3</td>
    		</tr>
    	</tbody>
    	</table>
    
    
    
    
    
    
    
    
     <section>
   <a href="http://myworld.ebay.fr/manasamanasa"> <img src="/images/ebay.jpg" width="50" height="50">
  </a>
    <strong>
   <a href="http://myworld.ebay.fr/manasamanasa">(<%= @user.microposts.count %>)     Fidbacks </a>
    </strong> 
  </a>
    </section>
    
    <section>
   <a href="http://www.airbnb.fr/users/show/1853989"> <img src="/images/airbnb.png" width="50" height="50">
  </a>
    <strong>
   <a href="hhttp://www.airbnb.fr/users/show/1853989">(<%= @user.microposts.count %>)     Fidbacks </a>
    </strong> 
  </a>
    </section>    
    
  </aside>
  
  
  <div class="span10">
    <%= render 'follow_form' if signed_in? %>
       <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>


</body>>
